# {{ ansible_managed }}

{% if RESOLV_SEARCH | length > 0 %}
search {{ RESOLV_SEARCH|join(' ') }}
{% endif %}
{% if RESOLV_DOMAIN != "" %}
domain {{ RESOLV_DOMAIN }}
{% endif %}
{% for ns in RESOLV_NAMESERVERS %}
nameserver {{ ns }}
{% endfor %}
{% if RESOLV_SORTLIST | length > 0 %}
{% for sl in RESOLV_SORTLIST %}
sortlist {{ sl }}
{% endfor %}
{% endif %}
{% if RESOLV_OPTIONS | length > 0 %}
options {{ RESOLV_OPTIONS|join(' ') }}
{% endif %}
